*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    flex-direction: column;
    gap: 30px;
    background: #644634;
}

.inputBox {
    position: relative;
    width: 260px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: #644634;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255,0.25);
    text-transform:uppercase;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
   color: #fff;
   transform: translateX(10px) translateY(-7px);
   font-size: 0.65em;
   padding: 0 10px;
   background:#644634;
   border-left: 1px solid #fff;
   border-right: 1px solid #fff;
   letter-spacing: 0.2em;
}

.inputBox:nth-child(2) input:valid ~ span
.inputBox:nth-child(2) input:focus ~ span
{
   background:#fff;
   color: #644634;
   border-radius: 2px;
}

.inputBox input:valid 
.inputBox input:focus 
{
    border: 1px solid #fff;
}

h2 {
    font-size: 10px;
    font-weight: 40px;
    color:#fff;
    letter-spacing: 5px;
    cursor: pointer;
}

h2 span {
    transition: 0.5s;
}

h2:hover span:nth-child(1) {
    margin-right: 10px;
}

h2:hover span:nth-child(1):after {
    content:"";
}

h2:hover span:nth-child(2) {
    margin-left: 40px;
}

h2:hover span {
    color: #fff;
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 60px #fff,
                 0 0 80px #fff;
}

button:hover {
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff,
                 0 0 160px #fff;
}

button {
border-radius: 10px;
border-color: transparent;
width: 50px;
position: relative;
top: 5px;
cursor: pointer;
}